body {
    overflow: hidden;
}

@media (max-width: 740px) {

    body {
        font-weight: 400;
    }

    .navItems {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        font-size: .5rem;
        font-weight: bold;
        color: #3d535f;
        letter-spacing: 3px;
        cursor: pointer;
        text-transform: uppercase;
    }

    h1 {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #3d535f;
    }

    .multiText {
        color: #7f00ff;
        text-transform: capitalize;
        position: block;
        font-size: 3rem;
    }

    .btns {
        width: 100%;
        position: relative;
        left: 0px;
        text-decoration: none;
        color: #fff;
    }

    .links {
        display: none;
    }

    .imgBox {
        display: none;
    }

    .wrapper {

    }

    @keyframes object2 {
        50% {
            left: 65%;
            top: 9%;
        }
    }

    .wrapper::after {
        position: absolute;
        content: '';
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        left: 65%;
        top: 12%;
        background: linear-gradient(45deg, #7f00ff, pink);
        animation: object2 6s linear infinite;
    }

    .content {
        width: 800px;
        display: flex;
        justify-content: center;
    }
    
    .content .card {
        width: 200px;
        height: 200px;
    }
    
    .content .card img {
        width: 200px;
    }
    

}