* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 2rem;
    line-height: 2rem;
}

.logo {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 1.7rem;
    color: #7f00ff;
}

.navItems {
    display: flex;
    cursor: pointer;
}

.navItems li {
    list-style: none;
    margin: 0 15px;
}

.navItems li a {
    font-size: .8rem;
    color: #3d535f;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
    color: #7f00ff;
}

.links a {
    font-size: .9rem;
    color: #3d535f;
    margin: .8rem .5rem;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #3d535f;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object1 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object2 6s linear infinite;
}

.cols {
    width: 50%;
}

.cols0 {
    width: 60%;
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: #3d535f;
}

.topline:after {
    position: absolute;
    content: '';
    height: 4px;
    width: 1.6rem;
    bottom: .2rem;
    background-color: #7f00ff;
}

h1 {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    color: #3d535f;
}

.multiText {
    color: #7f00ff;
    text-transform: capitalize;
}

p {
    display: block;
    width: 90%;
    font-size: 1.2rem;
    color: #3d535f;
}

.btns {
    width: 100%;
    position: relative;
    left: 150px;
    text-decoration: none;
    color: #fff;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    color: #fff;
    padding: 8px 14px;
    background-color: #3d535f;
    border-radius: 2px;
    margin: 1.2rem 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

button > a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #7f00ff;
}

.imgBox {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgBox img {
    position: relative;
    height: 100%;
    width: calc(130% - 2rem);
    top: -100px;
    right: 50px;
    transform: rotateY(180deg);
    animation: animateUSer 4s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -90px;
    }
}

.imgBox #splash {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) translate(-35deg);
    width: 100%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        right: 20%;
        top: 51%;
        width: 115%;
    }
}

@media (max-width: 740px) {

    .links {
        display: none;
    }

    .imgBox {
        display: none;
    }
}

.profile {
    display: flex;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
}

.profile div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1rem;
}

.profile h3 {
    margin-left: 1rem;
}

.profile div img {
    margin: .4rem;
}

.github-image {
    width: 172px;
    height: 172px;
    background-image: url('https://avatars.githubusercontent.com/u/92196697?v=4');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content .card-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.content {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.content .card {
    width: 200px;
    background-color: aliceblue;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    padding: .5rem;
}

.content .card img {
    width: 200px;
    height: 150px;
}

.content .card h2 {
    font-size: 1rem;
}

.content .card p {
    font-size: 14px;
}

.content .card button {
    font-size: 1rem;
    padding: .2rem;
    margin: 0;
    box-shadow: none;
    background-color: slategray;
}


@media (max-width: 700) {
    .container-tech .techs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2rem;
    }

    .container-tech .techs a {
        background-color: aliceblue;
        padding: .2rem;
        text-align: center;
        border-radius: 6px;
        margin: .5rem;
    }
}

.container-tech .techs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.container-tech .techs a {
    background-color: aliceblue;
    padding: .5rem;
    text-align: center;
    border-radius: 6px;
    margin: .5rem;
}






